.Pokecard {
    display: inline-block;
    width: 8em;
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.Pokecard-title {
    color: slateblue;
    text-transform: uppercase;
    font-weight: 600;
}

.Pokecard-data {
    text-transform: capitalize;
    font-size: 0.85em;
}